/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* ------------------ */
body{
    font-family:'Montserrat', sans-serif;
    color: black;
}

p{
    font-size: 13px;
}

.container{
    margin: auto;
    width: 80%;
}

header > img{
    width: 230px;
    height: 90px;
    padding-right: 20px;
    border-right: solid lightgray;
}

nav{
    margin-top: 40px;
}

nav > a{
    color:black;
    text-decoration: none;
    padding-right: 10px;
    padding-top: 20px;
}

/* Main */

/* Section 1 */
.section-1{
    background-image: url(../img/banner.jpg);
    background-position: center center;
    margin-top: 40px;
    border-radius: 10px;
}

.hero-text{
   padding: 310px 40px 50px;
   max-width: 520px;
}
/* End */

/* Section 2 */
.section-2{
    margin-top: 40px;
}

.top-section{
    margin-bottom: 20px; 
}

.bottom-section{
    margin-bottom: 17px;
}

.img-left{
    background-image: url(../img/img-1.jpg);
   
}

.img-right{
    background-image: url(../img/img-3.jpg);
   
}

.img-mid{
    background-image: url(../img/banner-2.jpg);
   
}

.img-left, .img-mid, .img-right{
    border-radius: 10px;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
    border: solid lightgray;
}

.col-left, .col-mid, .col-right{
    float: left;
    min-height: 395px;
}

.col-left, .col-right{
    width: 20%;
}

.col-mid{
    width: calc(60% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

h5{
    margin-bottom: 10px;
}
/* End Main */

footer{
    min-height: 40px;
    margin-top: 50px;
    text-align: center;
}

.heart{
    color: red;
}